body{

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EAF4FF;

}
header{

    background-color:#1E3A8A;

    color:white;

    text-align:center;

    padding:20px;

}
header h1{

    margin-bottom:10px;

}
header p{

    margin-bottom:20px;

}
nav{

    margin-top:15px;

}
nav a{

    color:white;

    text-decoration:none;

    margin:15px;

    font-weight:bold;

}
nav a:hover{

    text-decoration:underline;

}
.hero{
    background-color: #EAF4FF;
    color: #1E3A8A;
    text-align: center;
    padding: 70px 20px;
}
.hero h2{

    font-size: 36px;
    margin-bottom: 15px;

}
.hero p{

    font-size: 18px;
    width: 70%;
    margin: auto;
    line-height: 1.6;

}
.hero p{

    font-size: 18px;
    width: 70%;
    margin: auto;
    line-height: 1.6;

}
.about{

    width: 90%;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
    text-align: center;

}
.about h2{

    color: #1E3A8A;
    margin-bottom: 20px;

}
.about img{

    width: 80%;
    border-radius: 10px;
    margin-bottom: 20px;

}
.about p{

    font-size: 17px;
    line-height: 1.8;
    color: #444;

}
.mission{

    width: 90%;
    margin: 40px auto;

}
.mission-box{

    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);

}
.vision-box{

    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);

}
.mission h3{

    color: #1E3A8A;
    text-align: center;

}
.mission p{

    color: #555;
    line-height: 1.7;
    text-align: center;

}
.choose{

    width: 90%;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);

}
.choose h2{

    text-align: center;
    color: #1E3A8A;
    margin-bottom: 25px;

}
.choose ul{

    list-style: none;
    padding: 0;

}
.choose li{

    background-color: #F5F9FF;
    padding: 15px;
    margin: 12px 0;
    border-radius: 8px;
    color: #333;
     text-align: center;

}
.contact{
    width: 90%;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
    text-align: center;
}
.contact h2{
    color: #1E3A8A;
    margin-bottom: 20px;
}
.contact p{
    margin: 15px 0;
    font-size: 18px;
}
.contact i{
    color: #2563EB;
    margin-right: 10px;
    font-size: 20px;
}
.contact a:hover{
    color: #2563EB;
    text-decoration: underline;
}
footer{
    background-color: #0F172A;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p{
    margin: 8px 0;
}