header{

    background-color:#1E3A8A;

    color:white;

    text-align:center;

    padding:20px;

}
header h1{

    margin-bottom:10px;

}
header p{

    margin-bottom:20px;

}
nav{

    margin-top:15px;

}
nav a{

    color:white;

    text-decoration:none;

    margin:15px;

    font-weight:bold;

}
nav a:hover{

    text-decoration:underline;

}
.hero{

    text-align: center;

    padding: 40px 20px;

}
.hero h2{

    color: #1E3A8A;

    font-size: 32px;

    margin-bottom: 15px;

}
.hero p{

    color: #555;

    font-size: 18px;

    width: 70%;

    margin: auto;

    line-height: 1.6;

}
.timetable{

    width: 90%;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);

}
.timetable h2{

    text-align: center;
    color: #1E3A8A;
    margin-bottom: 10px;

}
.timetable p{

    text-align: center;
    color: #555;
    margin-bottom: 25px;

}
table{

    width: 100%;
    border-collapse: collapse;
    text-align: center;

}
caption{

    font-size: 22px;
    font-weight: bold;
    color: #1E3A8A;
    margin-bottom: 20px;

}
th{

    background-color: #1E3A8A;
    color: white;
    padding: 15px;

}
td{

    padding: 15px;
    border: 1px solid #ddd;

}
tr:nth-child(even){

    background-color: #F5F9FF;

}
tr:hover{

    background-color: #DCEBFF;

}
.lunch{

    background-color: #FFD54F;
    font-weight: bold;
    color: #333;

}
.lab{

    background-color: #C8E6C9;
    font-weight: bold;

}
.meeting{

    background-color: #FFCDD2;
    font-weight: bold;

}
.notes{

    width: 90%;
    margin: 40px auto;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);

}
.notes h2{

    color: #1E3A8A;
    text-align: left;
    margin-bottom: 20px;

}
.notes ul{

    padding-left: 20px;
    line-height: 2;

}
.notes li{

    color: #444;

}
.contact{
    width: 90%;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
    text-align: center;
}
.contact h2{
    color: #1E3A8A;
    margin-bottom: 20px;
}
.contact p{
    margin: 15px 0;
    font-size: 18px;
}
.contact i{
    color: #2563EB;
    margin-right: 10px;
    font-size: 20px;
}
.contact a:hover{
    color: #2563EB;
    text-decoration: underline;
}
footer{
    background-color: #0F172A;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p{
    margin: 8px 0;
}
