body{

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EAF4FF;

}
header{

    background-color:#1E3A8A;

    color:white;

    text-align:center;

    padding:20px;

}
header h1{

    margin-bottom:10px;

}
header p{

    margin-bottom:20px;

}
nav{

    margin-top:15px;

}
nav a{

    color:white;

    text-decoration:none;

    margin:15px;

    font-weight:bold;

}
nav a:hover{

    text-decoration:underline;

}
/* Gallery Section */

.gallery{

    width: 90%;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
    text-align: center;

}
.gallery h2{

    color: #1E3A8A;
    margin-bottom: 15px;

}

.gallery p{

    color: #555;
    font-size: 17px;
    margin-bottom: 30px;

}
.gallery-container{

    width: 100%;

}
.gallery-item{

    margin-bottom: 30px;

}
.gallery-item img{

    width: 80%;
    border-radius: 10px;
    border: 2px solid #D6E4FF;

}
.gallery-item figcaption{

    margin-top: 10px;
    color: #1E3A8A;
    font-weight: bold;

}
.gallery-item img:hover{

    border-color: #2563EB;

}






.contact{
    width: 90%;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);
    text-align: center;
}
.contact h2{
    color: #1E3A8A;
    margin-bottom: 20px;
}
.contact p{
    margin: 15px 0;
    font-size: 18px;
}
.contact i{
    color: #2563EB;
    margin-right: 10px;
    font-size: 20px;
}
.contact a:hover{
    color: #2563EB;
    text-decoration: underline;
}
footer{
    background-color: #0F172A;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p{
    margin: 8px 0;
}
